/*Navbar*/
.navbar {
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 14px;
}

.language, .login, .already, hr {
    color: rgb(199, 18, 94);
}

.profile {
    color: rgb(133, 99, 113);
    font-size: 100px;
    
}

.question {
    font-size: 20px;
}

.op {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.divider {
    color: white;
}

/*Header*/
.txt {
    background-color: #d8dadb;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.btns button {
    border-radius: 2px;
    border: none;
    width: 75%;
}

.btns button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

.btns {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}



/*Navbar dividers*/
@media screen and (max-width: 767px) {
    .vis {
        visibility: hidden;
    }
}

@media screen and (max-width: 991px) {
    h2 {
        font-size: 20px;
    }

    .profile {
        font-size: 50px;
    }

    .btns {
        font-size: 10px;
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .btns button {
        margin-left: 10px;
        margin-bottom: 20px ;
    }
}